LivreHeros/LivreHeros.xcodeproj/project.xcworkspace/xcuserdata/Ancil.xcuserdatad/UserInterfaceState.xcuserstate
LivreHeros/LivreHeros.xcodeproj/project.xcworkspace/xcshareddata/
LivreHeros/LivreHeros.xcodeproj/project.xcworkspace/xcuserdata/Ancil.xcuserdatad/WorkspaceSettings.xcsettings
LivreHeros/LivreHeros.xcodeproj/xcuserdata/Ancil.xcuserdatad/xcdebugger/
LivreHeros/LivreHeros.xcodeproj/xcuserdata/Ancil.xcuserdatad/xcschemes/xcschememanagement.plist
